<!DOCTYPE html>
<html>
  <head>
    <title>couch.dvdprofiler</title>
    <link rel="stylesheet" href="style/main.css" type="text/css">
    <link rel="stylesheet" href="style/thumbnailgallery.caroufredsel.css" type="text/css">
    <link rel="stylesheet" href="style/jquery.fancybox.css" type="text/css">
    <link rel="stylesheet" href="style/chosen.css" type="text/css">
  </head>
  <body>
  	<div id="wrapper">
		<div id="header">couch.dvdprofiler<span id="search"><input id="searchfield" type="text" name="searchbox" placeholder="search..."></span></div>
	  	<div class="clearfix">&nbsp;</div>
	  	<div style="float:left"><a href="index.html">Home</a> | <a href="table.html">Table</a> | <a href="statistics.html">Statistics</a> | <a href="playground.html">Playground</a></div>
	  	<div id="overviewcontainer">
	  	</div>
	  	<div id="listcontainer">
	  	</div>

  	</div>
  	<div id="helpcouchappmessage" style="display:none; cursor: default">
 		<p><strong>About couch.dvdprofiler</strong></p>
		<p>
			<br>All data is provided by <a href="http://www.invelos.com/">invelos
				DVDProfiler</a> a totally awesome client application to manage your
			dvd collection. <br> Nevertheless, the online list provided by
			invelos is <a
				href="http://www.invelos.com/dvdcollection.aspx/Yubitsume">pretty
				low level</a>. Although there is a project for php (<a
				href="http://www.phpmyprofiler.de/">phpMyProfiler</a>), it also
			lacks of UI gimmicks and possibilities to extend the application.<br>
			The idea for DVDProfiler CouchApp was born out of curiosity to
			learn couchDB, so this showcase application was developed.
		</p>
		<p>Credits</p>
 			<ul>
 				<li><a href="http://www.bennadel.com/blog/1801-Creating-An-Infinite-Scroll-Effect-With-jQuery-And-ColdFusion.htm">http://www.bennadel.com/blog/1801-Creating-An-Infinite-Scroll-Effect-With-jQuery-And-ColdFusion.htm</a></li>
 				<li><a href="https://github.com/adammark/Markup.js/tree/">Markup js</a></li>
 				<li><a href="http://jquery.malsup.com/block/">blockUI</a></li>
 				<li><a href="http://fancybox.net/">fancybox</a></li>
 				<li><a href="http://datatables.net/">DataTables</a></li>
 				<li><a href="http://caroufredsel.frebsite.nl/">carouFredSel</a></li>
 			</ul>
	    <div style="text-align: center"><button onclick="$.unblockUI()">OK</button></div>
	</div>
  </body>
  
	<!--  built in libraries -->
<!-- 	<script type="text/javascript" src="/_utils/script/sha1.js"></script> -->
	<script type="text/javascript" src="vendor/couchapp/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="vendor/couchapp/json2.js"></script>
	<script type="text/javascript" src="vendor/couchapp/jquery.couch.js"></script>
	<script type="text/javascript" src="vendor/couchapp/jquery.couchLogin.js"></script>
	<script type="text/javascript" src="vendor/couchapp/jquery.couchProfile.js"></script>
	<script type="text/javascript" src="vendor/couchapp/md5.js"></script>
	<script type="text/javascript" src="vendor/couchapp/markup.min.js"></script>
	
	<!-- third party, jQuery plugins -->
	<script type="text/javascript" src="script/plugins/jquery.blockUI.js"></script>
	<script type="text/javascript" src="script/plugins/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="script/plugins/chosen.jquery.min.js"></script>


	<!-- templates -->
	<script id="template-infinitelist" type="text/template" charset="utf-8">
		<div id="infinitecollectionlistsettings">
	  			<a href="#" id="button-listpurchasedate" class="button" onclick="handleListChange('listpurchasedate')">Purchase Date</a>&nbsp;
	  			<a href="#" id="button-listtitle" class="button" onclick="handleListChange('listtitle')">Title</a>&nbsp;
	  			<a href="#" id="button-listcollectionnumber" class="button" onclick="handleListChange('listcollectionnumber')">Collection #</a>&nbsp;
  		</div>
		<div id="genrefilter" style="display:none">
			<select id="genrefilterchosen"  data-placeholder="Choose a genre..." style="width:350px;" multiple class="chzn-select">
				
			</select>
		</div>
  		<div id="collectionlist"></div>
  		<div id="infinitecollectionlistscrollinfo">Loading... <img src="images/loading.gif" height="16" width="16"></div>
	</script>
	<script id="template-searchresult" type="text/template" charset="utf-8">
		<div id="searchresults">
			<h3>{{count}} results for <i>{{searchterm}}</i>&nbsp;&nbsp;&nbsp;<a href="#"  onclick="initInfiniteList();	handleListChange(views[0]);"><img align="baseline" src="style/close.png"></a></h3>
  		</div>
  		<div id="searchcollectionlist"></div>
	</script>
	<script id="template-collectionlist" type="text/template" charset="utf-8">
		<table class="infinitecollectiontable">
		{{rows}}
			<tr >
				<td rowspan="3" class="listthumbnail infinitelist-{{if #|even}}even{{else}}odd{{/if}}">
					<a id="{{value.id}}" onclick="openDetails(this.id)" href="javascript:;"><img class="thumbnail" src="/dvdprofiler/{{value.id}}/thumbnail_f" onerror="this.src='images/nocover.gif';" /></a>
				</td>
				<td  class="infinitelist-{{if #|even}}even{{else}}odd{{/if}}">
					<strong>{{value.title|highlight}}</strong> {{if value.originalTitle|notempty}} ({{value.originalTitle|highlight}}){{/if}}&nbsp;
						<span class="rating-static rating-{{value.review|review}}"></span>
				</td>
				<td  class="infinitelist-{{if #|even}}even{{else}}odd{{/if}}">
					{{if value.country|notempty}}<img valign="absbottom" src="images/flags/{{value.country|downcase|replace> >_}}.png">&nbsp;{{value.country}}{{else}}n/a{{/if}} ({{value.productionYear}})
				</td>
				<td class="infinitelist-{{if #|even}}even{{else}}odd{{/if}} infinitelist-right">
					<strong>#{{value.collectionNumber}}</strong>
				</td>
			</tr>
			<tr>
				<td class="infinitelist-{{if #|even}}even{{else}}odd{{/if}}">
					<small>{{value.genres|join>&nbsp;&#124;&nbsp;}}</small><br/>
				</td>
				<td class="infinitelist-{{if #|even}}even{{else}}odd{{/if}}">
					<small>Released: {{value.releaseDate}}</small><br>
				</td>
				<td align="right" class="infinitelist-{{if #|even}}even{{else}}odd{{/if}}">
					{{value.media}}
						<img src="images/logo/{{.|downcase}}.jpg" height="12px">&nbsp;
					{{/value.media}}
				</td>
			</tr>
			<tr>
				<td class="infinitelist-{{if #|even}}even{{else}}odd{{/if}}">
					<div id="actors" class="castAndCrew">
						<center>- Cast -</center>
						{{value.actors|limit>5}}
							{{.|castAndCrew>40}}<br>
						{{/value.actors}}
					</div>
					<div id="crew" class="castAndCrew">
						<center>- Crew -</center>
						tbd
					</div>
					<div class="clearfix">
						tbd: credits, events, loaninfo
					</div>
				</td>
				<td class="infinitelist-{{if #|even}}even{{else}}odd{{/if}}">
					<small>Purchased: {{value.purchaseDate}} </small>
				</td>
				<td align="right" class="infinitelist-{{if #|even}}even{{else}}odd{{/if}}">
					<small>
						{{value.studios}}
							{{.}}<br>
						{{/value.studios}}
					</small>
				</td>
			</tr>
		{{/rows}}
		</table>
	</script>
	
	
	<!-- application sripts -->
	<script src="script/pipes.js"></script>
	<script src="script/search.js"></script>
	<script src="script/app.js"></script>
	<script src="script/overview.js"></script>
	<script src="script/infinitecollectionlist.js"></script>
	<script src="script/details.js"></script>

</html>