<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="collectionImporter" class="org.dvdprofilerapp.xml.stax.CollectionXmlStreamHandler">
		<property name="collectionXmlResource" value="classpath:collection.xml" />
		<property name="dvdProfilerRepository" ref="dvdProfilerRepository" />
	</bean>
	<!-- <bean id="mockRepo" class="org.mockito.Mockito" factory-method="mock"> -->
	<!-- <constructor-arg value="org.dvdprofilerapp.DvdProfilerRepository " 
		/> -->
	<!-- </bean> -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="dvdProfilerRepository" class="org.dvdprofilerapp.couch.DvdProfilerRepositoryCouchImpl"
		init-method="init">
		<property name="dvdprofilerDbBaseUrl" value="http://localhost:5984/dvdprofiler" />
		<property name="restTemplate" ref="restTemplate" />
	</bean>


</beans>
