/* add styles here */
body {
	font: 0.7em Helvetica, sans-serif;
	margin: 0;
	/* 	background-image: url("blue.jpg"); */
	/* 	background-repeat: no-repeat; */
	background-attachment: fixed;
}

a,a:HOVER,a:ACTIVE,a:VISITED {
	color: #7A7E82;
}

#wrapper {
	margin: 0 auto;
	overflow: hidden;
	padding: 0px 8px 8px 8px;
	width: 940px;
	background-color: white;
}

#header {
	float: left;
	font-size: 3em;
	background-image: url("../images/logo/couchlogo_small.png");
	background-position: right;
	background-repeat: no-repeat;;
	background-color: #295183;
	color: #C3DEFA;
	width: 100%;
	height: 33px;
	padding: 8px 2px 8px 2px;
	background-color: #295183;
}

#search {
	float: right;
	text-align: right;
	vertical-align: middle;
	padding-right: 50px;
}

#searchfield {
	-webkit-border-radius: 15px;
	border-radius: 12px;
	border: 1px solid #383C42;
	padding-left: 22px;
	padding-right: 20px;
	background-color: #A2A7B0;
	background-image: url("find.png");
	background-position: 5px;
	background-repeat: no-repeat;
	color: #EDEDED;
}

#intro {
	width: 100%;
	color: #7A7E82;
	padding-left: 5px;
	padding-top: 5px;
	background-color: white;
}

.containerheader {
	width: 928px;
	background-color: #749BCC;
	color: #C3DEFA;
	font-weight: bold;
	border: 1px solid #295183;
	padding: 5px;
}

.advantage {
	list-style-image: url(../images/icons/add.png);
}

.disadvantage {
	list-style-image: url(../images/icons/delete.png);
}

.clearfix {
	float: none;
	clear: both;
}
/** overview */
#overviewcontainer {
	width: 100%;
	text-align: right;
}
/**infinite list*/
.button {
	background: #EDEDED;
	color: #555;
	font-size: 10px;
	padding: 3px 6px;
	border: 1px solid #749BCC;
	margin: 10px;
	cursor: pointer;
	-webkit-transition: -webkit-transform 1s, opacity 1s, background 1s,
		width 1s, height 1s, font-size 1s;
	-o-transition-property: width, height, -o-transform, background,
		font-size, opacity, color;
	-o-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s, 1s;
	-moz-transition-property: width, height, -moz-transform, background,
		font-size, opacity, color;
	-moz-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s, 1s;
	transition-property: width, height, transform, background, font-size,
		opacity;
	transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
	display: inline-block; /* It is important for the button to rotate*/
}

.button-selected {
	background-color: #A2A7B0;
	font-weight: bold;
	color: #EDEDED;
}

#listcontainer {
	width: 100%;
	float: left;
}

#infinitecollectionlistsettings {
	padding-top: 5px;
	float: left;
}

#genrefilter {
	padding-top: 5px;
	float: right;
}

.infinitecollectiontable {
	width: 100%;
	border: 0;
	border-spacing: 0px;
	empty-cells: show;
	text-align: left;
}

#infinitecollectionlist {
	padding: 5px;
}

.infinitelist-right {
	text-align: right;
}

.infinitelist-middle {
	text-align: left;
}

.infinitelist-odd {
	background-color: #F4F2F7;
	vertical-align: top;
}

.infinitelist-even {
	background-color: #FFFFFF;
	vertical-align: top;
}

#searchresults {
	
}

.overview {
	color: #7F8387;
	overflow: auto;
	height: 100px;
}

#infinitecollectionlistscrollinfo {
	width: 90%;
	height: 20px;
	border: 1px solid #749BCC;
	font-style: italic;
	background-color: #F4F2F7;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	webkit-border-radius: 5px;
	display: none;
}

.listthumbnail {
	padding: 3px;
	vertical-align: top;
	text-align: left;
	height: 113;
	width: 100px;
}

.thumbnail {
	height: 113;
	width: 94px;
}

.castAndCrew {
	position: relative absolute;
	float: left;
	font-family: monospace;
	padding: 5px;
}

/**Details*/
#cover_container {
	position: relative;
	margin: 10px auto;
	width: 465px;
	height: 664px;
	z-index: 1;
}

.face.back {
	display: none;
}

#cover_container {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	float: left;
}

#cover_details {
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1.0s linear;
	-moz-transform-style: preserve-3d;
	-moz-transition: all 1.0s linear;
	-o-transform-style: preserve-3d;
	-o-transition: all 1.0s linear;
	-ms-transform-style: preserve-3d;
	-ms-transition: all 1.0s linear;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
}

#cover_container:hover #cover_details,#cover_container.hover_effect #cover_details
	{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.face.back {
	display: block;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.detailsoverview {
	background-color: #F4F2F7;
	padding-right: 2px;
}
/** Table */
#cover {
	position: absolute;
	border: 1px solid #C3DEFA;
	background: #C3DEFA;
	padding: 1px;
	display: none;
	color: #fff;
}
/** genres */
.genre {
	width: 140px;
	margin: 6px;
	/* 	border: 1px solid #295183; */
	margin: 6px;
	float: left;
}

.notes {
	position: relative;
	float: left;
	clear: both;
	width: 200px;
	height: 200px;
}

.note {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #fff;
	border: 1px solid #D8D8D8;
	width: 180px;
}

td.selected {
	background-color: #D0F5D9;
}

/*review*/
.rating-static {
	float: right;
	width: 60px;
	height: 16px;
	display: block;
	background: url('star-rating.png') 0 0 no-repeat;
}

.rating-50 {
	background-position: 0 0;
}

.rating-40 {
	background-position: -12px 0;
}

.rating-30 {
	background-position: -24px 0;
}

.rating-20 {
	background-position: -36px 0;
}

.rating-10 {
	background-position: -48px 0;
}

.rating-0 {
	background-position: -60px 0;
}

.rating-5 {
	background-position: -48px -16px;
}

.rating-15 {
	background-position: -36px -16px;
}

.rating-25 {
	background-position: -24px -16px;
}

.rating-35 {
	background-position: -12px -16px;
}

.rating-45 {
	background-position: 0 -16px;
}